<footer class="page-footer grey darken-3">
    <div class="footer-copyright grey darken-3 white-text">
        <div class="container">
            © 2018 Wattandoh.Tous droits r&eacute;serv&eacute;s
            <a class="grey-text text-lighten-4 right" href="#!">Aide</a>
            <a class="grey-text text-lighten-4 right" href="#!">Politique de confidentialit&eacute;</a>&nbsp;
            <a class="grey-text text-lighten-4 right" href="#!">Mentions L&eacute;gales</a>
            <a class="grey-text text-lighten-4 right" href="#!">Mentions L&eacute;gales</a>
        </div>
    </div>
</footer>